* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.71);
  z-index: 100;
  display: flex;
  top: 0;
  visibility: hidden; }

.wrapper {
  max-width: 1170px;
  margin: 50px auto; }

.chat {
  box-shadow: 0 0 60px #ccc;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column; }

.block-messages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 10px 0; }
  .block-messages .message {
    width: 90%;
    text-align: right;
    padding: 7px 20px 7px 17px;
    border-radius: 3px;
    position: relative;
    margin: 7px 20px 4px 15px;
    background: #fafafa;
    box-shadow: 0px 2px 8px #f0f0f0;
    /* &:hover .message__time {
            display: block;
        } */ }
  .block-messages .message__user {
    font-weight: bold; }
  .block-messages .message__time {
    text-align: left;
    position: absolute;
    top: 20px;
    left: -70px;
    font-size: 14px;
    /* display: none; */ }

.block-new-message, .block-username {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  position: relative; }
  .block-new-message .enter-message, .block-username .enter-message {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-right: 35px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .block-new-message .send-message, .block-username .send-message {
    color: #1cb1b1;
    position: absolute;
    top: 6px;
    right: 7px;
    /* font-size: 14px;
        padding: 9px 20px;
        transition: .5s;
        cursor: pointer;
        border: none;
        border-radius: 4px; */ }
    .block-new-message .send-message:hover, .block-username .send-message:hover {
      color: #18a0a0; }

.block-username {
  z-index: 101;
  margin: auto; }

.active {
  visibility: visible; }
